<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZkd5dLw6HK-X7ao0mVAESJTprKEPT8Uc</string>
	<key>GCM_SENDER_ID</key>
	<string>351136579757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.localbandfinderapp</string>
	<key>PROJECT_ID</key>
	<string>local-band-finder-app-25uf20</string>
	<key>STORAGE_BUCKET</key>
	<string>local-band-finder-app-25uf20.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351136579757:ios:27e0185ad3b696c2454624</string>
</dict>
</plist>